GMAIL_USER=your_gmail@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password

DB_CLIENT=sqlserver
SQLSERVER_SERVER=127.0.0.1
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=tdmu_market
SQLSERVER_TRUSTED_CONNECTION=true
SQLSERVER_SCHEMA=dbo
SQLSERVER_ENCRYPT=false
SQLSERVER_TRUST_SERVER_CERTIFICATE=true
